apiVersion: v1
kind: Service
metadata:
  name: postgres-db  
spec:
  type: ClusterIP
  ports:
    - port: 5432     
      targetPort: 5432
  selector:
    app: db

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-manager

spec:
  replicas: 1  
  selector:
    matchLabels:
      app: db

  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: postgres-container
        image: postgres:18
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: etl-secrets    
              key: database_password